In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
import joblib

In [34]:
df = pd.read_csv("StressLevelDataset.csv")

In [35]:
df.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2,3,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1,4,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2,3,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1,4,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1,5,0,5,1

In [36]:
df.tail()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
1095,11,17,0,14,3,1,3,2,2,2,...,3,2,2,2,3,3,2,3,3,1
1096,9,12,0,8,0,3,0,0,0,1,...,4,0,1,1,1,1,3,4,3,2
1097,4,26,0,3,1,2,5,2,2,3,...,4,5,1,4,1,3,1,2,1,0
1098,21,0,1,19,5,3,1,4,3,1,...,1,2,5,1,4,1,4,4,4,2
1099,18,6,1,15,3,3,0,3,3,0,...,3,3,4,3,3,1,5,1,4,2

In [37]:
df.describe()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
count,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,...,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000
mean,11.063636,17.777273,0.492727,12.555455,2.508182,2.181818,2.660000,2.753636,2.649091,2.518182,...,2.772727,2.772727,2.621818,2.648182,2.649091,1.881818,2.734545,2.767273,2.617273,0.996364
std,6.117558,8.944599,0.500175,7.727008,1.409356,0.833575,1.548383,1.400713,1.328127,1.119208,...,1.433761,1.414594,1.315781,1.384579,1.529375,1.047826,1.425265,1.417562,1.530958,0.821673
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,11.000000,0.000000,6.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000
50%,11.000000,19.000000,0.000000,12.000000,3.000000,2.000000,2.500000,3.000000,3.000000,2.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.500000,3.000000,1.000000
75%,16.000000,26.000000,1.000000,19.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,...,4.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,2.000000
max,21.000000,30.000000,1.000000,27.000000,5.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,5.000000,5.000000,5.000000,2.000000

In [38]:
df.groupby("stress_level").describe()

             anxiety_level                                                    \
                     count       mean       std  min   25%   50%   75%   max
stress_level
0                    373.0   5.431635  4.500749  0.0   2.0   5.0   7.0  21.0
1                    358.0  11.430168  2.946657  1.0  10.0  11.0  13.0  21.0
2                    369.0  16.401084  4.692339  0.0  15.0  18.0  19.0  21.0

             self_esteem             ... extracurricular_activities       \
                   count       mean  ...                        75%  max
stress_level                         ...
0                  373.0  25.252011  ...                        2.0  5.0
1                  358.0  19.262570  ...                        3.0  5.0
2                  369.0   8.780488  ...                        5.0  5.0

             bullying
                count      mean       std  min  25%  50%  75%  max
stress_level
0               373.0  1.254692  0.925743  0.0  1.0  1.0  1.0  5.0
1               358.0  2.555866  0.867048  0.0  2.0  3.0  3.0  5.0
2               369.0  4.054201  1.203387  0.0  4.0  4.0  5.0  5.0

[3 rows x 160 columns]

In [39]:
df.groupby("stress_level").agg(['min', 'max'])

             anxiety_level     self_esteem     mental_health_history      \
                       min max         min max                   min max
stress_level
0                        0  21           0  30                     0   1
1                        1  21           2  30                     0   1
2                        0  21           0  30                     0   1

             depression     headache      ... future_career_concerns      \
                    min max      min max  ...                    min max
stress_level                              ...
0                     0  27        0   5  ...                      0   5
1                     0  27        0   5  ...                      0   5
2                     0  27        0   5  ...                      0   5

             social_support     peer_pressure     extracurricular_activities  \
                        min max           min max                        min
stress_level
0                         0   3             0   5                          0
1                         0   3             0   5                          0
2                         0   1             0   5                          0

                 bullying
             max      min max
stress_level
0              5        0   5
1              5        0   5
2              5        0   5

[3 rows x 40 columns]

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anxiety_level                 1100 non-null   int64
 1   self_esteem                   1100 non-null   int64
 2   mental_health_history         1100 non-null   int64
 3   depression                    1100 non-null   int64
 4   headache                      1100 non-null   int64
 5   blood_pressure                1100 non-null   int64
 6   sleep_quality                 1100 non-null   int64
 7   breathing_problem             1100 non-null   int64
 8   noise_level                   1100 non-null   int64
 9   living_conditions             1100 non-null   int64
 10  safety                        1100 non-null   int64
 11  basic_needs                   1100 non-null   int64
 12  academic_performance          1100 non-null   int64
 13  study_load                    1100 non-null   int64
 14  teacher_student_relationship  1100 non-null   int64
 15  future_career_concerns        1100 non-null   int64
 16  social_support                1100 non-null   int64
 17  peer_pressure                 1100 non-null   int64
 18  extracurricular_activities    1100 non-null   int64
 19  bullying                      1100 non-null   int64
 20  stress_level                  1100 non-null   int64
dtypes: int64(21)
memory usage: 180.6 KB

In [41]:
df.dtypes

anxiety_level                   int64
self_esteem                     int64
mental_health_history           int64
depression                      int64
headache                        int64
blood_pressure                  int64
sleep_quality                   int64
breathing_problem               int64
noise_level                     int64
living_conditions               int64
safety                          int64
basic_needs                     int64
academic_performance            int64
study_load                      int64
teacher_student_relationship    int64
future_career_concerns          int64
social_support                  int64
peer_pressure                   int64
extracurricular_activities      int64
bullying                        int64
stress_level                    int64
dtype: object

In [42]:
df.isnull().sum()

anxiety_level                   0
self_esteem                     0
mental_health_history           0
depression                      0
headache                        0
blood_pressure                  0
sleep_quality                   0
breathing_problem               0
noise_level                     0
living_conditions               0
safety                          0
basic_needs                     0
academic_performance            0
study_load                      0
teacher_student_relationship    0
future_career_concerns          0
social_support                  0
peer_pressure                   0
extracurricular_activities      0
bullying                        0
stress_level                    0
dtype: int64

In [43]:
df.columns

Index(['anxiety_level', 'self_esteem', 'mental_health_history', 'depression',
       'headache', 'blood_pressure', 'sleep_quality', 'breathing_problem',
       'noise_level', 'living_conditions', 'safety', 'basic_needs',
       'academic_performance', 'study_load', 'teacher_student_relationship',
       'future_career_concerns', 'social_support', 'peer_pressure',
       'extracurricular_activities', 'bullying', 'stress_level'],
      dtype='object')

In [44]:
print(f" rows {df.shape[0]}")
print(f" column {df.shape[1]}")

 rows 1100
 column 21

In [45]:
df = df.drop(["peer_pressure","bullying"], axis=1)

In [46]:
df.dtypes

anxiety_level                   int64
self_esteem                     int64
mental_health_history           int64
depression                      int64
headache                        int64
blood_pressure                  int64
sleep_quality                   int64
breathing_problem               int64
noise_level                     int64
living_conditions               int64
safety                          int64
basic_needs                     int64
academic_performance            int64
study_load                      int64
teacher_student_relationship    int64
future_career_concerns          int64
social_support                  int64
extracurricular_activities      int64
stress_level                    int64
dtype: object

In [47]:
X = df.drop('stress_level', axis=1)
y = df['stress_level']

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anxiety_level                 1100 non-null   int64
 1   self_esteem                   1100 non-null   int64
 2   mental_health_history         1100 non-null   int64
 3   depression                    1100 non-null   int64
 4   headache                      1100 non-null   int64
 5   blood_pressure                1100 non-null   int64
 6   sleep_quality                 1100 non-null   int64
 7   breathing_problem             1100 non-null   int64
 8   noise_level                   1100 non-null   int64
 9   living_conditions             1100 non-null   int64
 10  safety                        1100 non-null   int64
 11  basic_needs                   1100 non-null   int64
 12  academic_performance          1100 non-null   int64
 13  study_load                    1100 non-null   int64
 14  teacher_student_relationship  1100 non-null   int64
 15  future_career_concerns        1100 non-null   int64
 16  social_support                1100 non-null   int64
 17  extracurricular_activities    1100 non-null   int64
 18  stress_level                  1100 non-null   int64
dtypes: int64(19)
memory usage: 163.4 KB

In [49]:
df.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,safety,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,extracurricular_activities,stress_level
0,14,20,0,11,2,1,2,4,2,3,3,2,3,2,3,3,2,3,1
1,15,8,1,15,5,3,1,4,3,1,2,2,1,4,1,5,1,5,2
2,12,18,1,14,2,1,2,2,2,2,3,2,2,3,3,2,2,2,1
3,16,12,1,15,4,3,1,3,4,2,2,2,2,4,1,4,1,4,2
4,16,28,0,7,2,3,5,1,3,2,4,3,4,3,1,2,1,0,1

In [50]:
df.to_csv('processed_data.csv', index=False, header=True)

In [51]:
df = pd.read_csv('processed_data.csv')
df

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,safety,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,extracurricular_activities,stress_level
0,14,20,0,11,2,1,2,4,2,3,3,2,3,2,3,3,2,3,1
1,15,8,1,15,5,3,1,4,3,1,2,2,1,4,1,5,1,5,2
2,12,18,1,14,2,1,2,2,2,2,3,2,2,3,3,2,2,2,1
3,16,12,1,15,4,3,1,3,4,2,2,2,2,4,1,4,1,4,2
4,16,28,0,7,2,3,5,1,3,2,4,3,4,3,1,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,11,17,0,14,3,1,3,2,2,2,2,3,2,2,2,3,3,3,1
1096,9,12,0,8,0,3,0,0,0,1,3,4,0,1,1,1,1,4,2
1097,4,26,0,3,1,2,5,2,2,3,4,4,5,1,4,1,3,2,0
1098,21,0,1,19,5,3,1,4,3,1,1,1,2,5,1,4,1,4,2
1099,18,6,1,15,3,3,0,3,3,0,4,3,3,4,3,3,1,1,2

In [52]:
import pandas as pd
df = pd.read_csv('processed_data.csv')

df.columns

Index(['anxiety_level', 'self_esteem', 'mental_health_history', 'depression',
       'headache', 'blood_pressure', 'sleep_quality', 'breathing_problem',
       'noise_level', 'living_conditions', 'safety', 'basic_needs',
       'academic_performance', 'study_load', 'teacher_student_relationship',
       'future_career_concerns', 'social_support',
       'extracurricular_activities', 'stress_level'],
      dtype='object')

In [53]:
X = df.drop('stress_level', axis=1)
y = df['stress_level']

In [54]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=42)

In [55]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(880, 18) (880,)
(220, 18) (220,)

In [56]:
from catboost import CatBoostClassifier
from sklearn.metrics import r2_score, mean_squared_error
import pandas as pd
import numpy as np


clf = CatBoostClassifier(
    iterations=800,
    learning_rate=0.05,
    depth=6,
    verbose=0,
    random_state=42
)

In [25]:
clf.fit(train_X, train_y)

In [26]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(test_X)
acc = accuracy_score(test_y, y_pred)
print(f"Accuracy: {acc * 100:.2f}%")

Accuracy: 86.36%

In [27]:
model_path = 'stress_classifier_model.pkl'
joblib.dump(clf, model_path)
print(f"Model saved as {model_path}")

Model saved as stress_classifier_model.pkl

In [28]:
df.corr(numeric_only=True)["stress_level"].sort_values(ascending=False)

stress_level                    1.000000
future_career_concerns          0.742619
anxiety_level                   0.736795
depression                      0.734379
headache                        0.713484
extracurricular_activities      0.692977
noise_level                     0.663371
mental_health_history           0.648644
study_load                      0.634156
breathing_problem               0.573984
blood_pressure                  0.394200
living_conditions              -0.581723
social_support                 -0.632497
teacher_student_relationship   -0.680163
basic_needs                    -0.708968
safety                         -0.709602
academic_performance           -0.720922
sleep_quality                  -0.749068
self_esteem                    -0.756195
Name: stress_level, dtype: float64

In [29]:
import sklearn

In [30]:
with open("stress_classifier_model.pkl", "rb") as file:
    loaded_model = joblib.load(file)

print("Model loaded successfully!")

y_pred_loaded = loaded_model.predict(test_X)

Model loaded successfully!

In [31]:
import joblib

with open("stress_classifier_model.pkl", "rb") as file:
    model = joblib.load(file)

feature_names = model.feature_names_
print("Columns the model was trained on:")
print(feature_names)

Columns the model was trained on:
['anxiety_level', 'self_esteem', 'mental_health_history', 'depression', 'headache', 'blood_pressure', 'sleep_quality', 'breathing_problem', 'noise_level', 'living_conditions', 'safety', 'basic_needs', 'academic_performance', 'study_load', 'teacher_student_relationship', 'future_career_concerns', 'social_support', 'extracurricular_activities']

In [32]:
feature_names = train_X.columns.tolist()
print("Columns used for training:")
print(feature_names)

Columns used for training:
['anxiety_level', 'self_esteem', 'mental_health_history', 'depression', 'headache', 'blood_pressure', 'sleep_quality', 'breathing_problem', 'noise_level', 'living_conditions', 'safety', 'basic_needs', 'academic_performance', 'study_load', 'teacher_student_relationship', 'future_career_concerns', 'social_support', 'extracurricular_activities']